.cityPictures{
    padding: 1%;
}
img.cityPictures:hover{
    width: 500px;
    height: 500px;
}
#pictures{
    display: flex;
    flex-direction: row;
}
#eventsContainer{
    display: flex;
    flex-direction: row;
}
.card-body{
    padding: 10px;
    margin: 5px;
    border: solid;
    background-color: aqua;
}